@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(239,29,253,0.5133403703278187) 50%, rgba(252,176,69,1) 100%);
} 

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  background-color: #845EC2;
  border-radius: 10px;
  padding: 10px 56px;
  cursor: pointer;
}

