.tasks-container {
    height: 100%;
}

.todo-list {
    width: 520px;
    height: 500px;
    background: #FBEAFF;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 32px;
    color: #845EC2;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: hidden;
}

.todo-list::-webkit-scrollbar {
    width: 12px;
}

.todo-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

h1 {
    margin: 32px 0;
    font-size: 40px;
}

.todo-input {
    padding: 16px 40px 16px 20px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #845EC2;
    outline: none;
    width: 320px;
    background: transparent;
    color: #845EC2;
    font-size: 24px;
    font-family: 'Quicksand';
}

.todo-input::placeholder {
    color: #845EC2;
    font-size: 24px;
}

.todo-button {
    padding: 18px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #845EC2;
    color: #fff;
    font-size: 24px;
}

.item-todo {
    width: 400px;
    padding: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background: #845EC2;
    color: #fff;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand';
    margin-bottom: 20px;
}

.line-through {
    text-decoration: line-through;
}

.item-text {
    cursor: pointer;
}

.restricted {
    color: #000;
    margin: 100px 40px;
}

@media all and (max-width: 700px) {
    .todo-list {
        height: 70vh;
        width: 480px;
    }

    h1 {
        font-size: 28px;
    }

    .todo-input {
        width: 280px;
        padding: 12px 18px 12px 18px;
    }

    .todo-button {
        padding: 14px;
    }

    .item-todo {
        width: 355px;
        padding: 10px;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 550px) {
    .todo-list {
        width: 400px;
    }

    .todo-button {
        padding: 12px;
        padding-top: 9px;
    }

    .todo-input {
        font-size: 18px;
    }
}

@media all and (max-width: 550px) {
    .todo-list {
        width: 370px;
        height: 55vh;
    }

    .todo-input {
        width: 240px;
        padding: 12px 18px 12px 18px;
    }

    .item-todo {
        width: 310px;
    }
}

@media all and (max-width: 400px) {
    .todo-list {
        width: 340px;
        height: 50vh;
    }

    .todo-input {
        width: 220px;
        padding: 12px 18px 11px 18px;
    }

    .todo-button {
        font-size: 23px;
    }

    .item-todo {
        width: 288px;
    }
}